.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 448px;
  }

  @media screen and (min-width: 768px) {
    width: 719px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
